// Colors
$accentColor: #FD665E;
$buttonColor: $accentColor;
$mainBackgroundColor: #FFFFFF;
$primaryTextColor: #000000;
$secondaryTextColor: #585858;
$buttonTextColor: #FFFFFF;
$borderFooterColor: #F0F0F0;


// breakpoints
$breakpoints: (
xs: 575px,
sm: 767px,
md: 991px,
lg: 1150px
);

// container
%container {
   max-width: 1200px;
   padding: 0 50px;
   margin: 0 auto;

   @media screen and (max-width: 991px) {
      padding: 0 40px;
   }

   @media screen and (max-width: 767px) {
      padding: 0 30px;
   }

   @media screen and (max-width: 575px) {
      padding: 0 25px;
   }   
}