@font-face {
	font-family: NewYorkExtraLargeBold;
	font-display: swap;
	src: url("../fonts/NewYorkExtraLargeBold.woff2") format("woff2"), url("../fonts/NewYorkExtraLargeBold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: SFUIDisplayBold;
	font-display: swap;
	src: url("../fonts/SFUIDisplay-Bold.woff2") format("woff2"), url("../fonts/SFUIDisplay-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: SFUIDisplayLight;
	font-display: swap;
	src: url("../fonts/SFUIDisplay-Light.woff2") format("woff2"), url("../fonts/SFUIDisplay-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: SFUIDisplaySemiBold;
	font-display: swap;
	src: url("../fonts/SFUIDisplay-Semibold.woff2") format("woff2"), url("../fonts/SFUIDisplay-Semibold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: SFUIDisplayRegular;
	font-display: swap;
	src: url("../fonts/SFUIDisplay-Regular.woff2") format("woff2"), url("../fonts/SFUIDisplay-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
