// Заголовки, общие БЄМ блоки и проче...
.btn {
   display: inline-block;
   padding: 8px 32px;
   background-color: $accentColor;
   border-radius: 4px;
   @include text(14px, "SFUIDisplayRegular", 40px, $buttonTextColor);
   text-transform: uppercase;
   cursor: pointer;

   &:hover {
      opacity: 0.7;
   }
}