// Заголовки, общие БЄМ блоки и проче...

.btn {
   display: inline-block;
   padding: 8px 32px;
   background-color: $accentColor;
   border-radius: 4px;
   @include text(14px, "SFUIDisplaySemiBold", 40px, $buttonTextColor);
   text-transform: uppercase;
   cursor: pointer;
   transition: opacity 0.2s ease 0.1s;

   &:hover {
      opacity: 0.7;
   }
}

.title {
   @include text(48px, "NewYorkExtraLargeBold", 125%, $primaryTextColor);
   letter-spacing: -2px;
}