.footer {
   padding: 84px 0 84px;
   border-top: 1px solid $borderFooterColor;
   @include text(12px, "SFUIDisplaySemiBold", 40px, $secondaryTextColor);

   @include media(sm) {
      padding: 30px 0 30px;
   }

   &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__nav ul {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      max-width: 480px;
      

      @include media(sm) {
         max-width: 380px;
         margin-right: 50px;
      }

      @include media(xs) {
         justify-content: flex-start;
         margin-right: 40px;
      }
   }

   &__nav a:hover {
      text-decoration: underline;
   }

   &__nav li {
      margin-right: 30px;    
      
      &:last-child {
         margin: 0;
      }

      @include media(xs) {
         margin-right: 20px;
      }
   }

   &__logo-link {

      &:hover {
         opacity: 0.7;
      }
   }

   &__logo {
      vertical-align: middle;
   }
}