.gallery {

   margin-bottom: 137px;

   @include media(xs) {
      margin-bottom: 90px;
   }

   &__title {
      @include text(48px, "NewYorkExtraLargeBold", 125%, $primaryTextColor);
      letter-spacing: -2px;
      max-width: 470px;
      text-align: center;
      margin: 0 auto 40px;

      @include media(md) {
         font-size: 40px;
         max-width: 390px;
      }

      @include media(sm) {
         font-size: 35px;
         max-width: 330px;
         margin-bottom: 30px;
      }

      @include media(xs) {
         margin-bottom: 20px;
      }
   }

   &__wrap {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 45px;

      @include media(md) {
         grid-template-columns: 1fr 1fr;
         gap: 35px;
      }

      @include media(sm) {
         gap: 25px;
      }


      @include media(xs) {
         grid-template-columns: 1fr;
      }
   }

   &__item {
      max-width: 100%;
      width: 100%;
   }
}