.gallery {

   margin-bottom: 137px;

   @include media(sm) {
      margin-bottom: 90px;
   }

   @include media(xs) {
      margin-bottom: 60px;
   }

   &__title {
      max-width: 470px;
      text-align: center;
      margin: 0 auto 40px;

      @include media(md) {
         font-size: 40px;
         max-width: 390px;
      }

      @include media(sm) {
         font-size: 35px;
         max-width: 330px;
         margin-bottom: 30px;
      }

      @include media(xs) {
         font-size: 30px;
         max-width: 285px;
         margin-bottom: 20px;
      }
   }

   &__wrap {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 45px;

      @include media(md) {
         grid-template-columns: 1fr 1fr;
         gap: 35px;
      }

      @include media(sm) {
         gap: 25px;
      }


      @include media(xs) {
         grid-template-columns: 1fr;
      }
   }

   &__item {
      position: relative; 
      line-height: 0;  
      // transition: background-color 0.2s ease 0.1s;
      transition-duration: 0.5s;
   }

   &__item:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;      ;
      background-color: rgba(0,0,0,.3);
      opacity: 0;
      z-index: 2; 
      transition: opacity 0.2s ease 0.1s; 
   }

   &__item:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 30px;
      height: 30px;
      background: url("./../img/on-hover-search.svg") no-repeat;
      opacity: 0;
      z-index: 3;
      transition: opacity 0.3s ease 0.1s;
   }

   &__item:hover::after,
   &__item:hover::before {
      opacity: 1;
   }

   &__item-img {
      object-fit:cover;
      max-width: 100%;
      width: 100%;
   }
}