.reviews {
   padding-top: 55px;
   background: linear-gradient(#F9F9F9, #FFFFFF);
   margin-bottom: 124px;

   @include media(xs) {
      padding-top: 30px;
      margin-bottom: 65px;
   }

   &__title {
      max-width: 370px;

      @include media(md) {
         font-size: 40px;
         margin: 0 auto;
         max-width: 300px;
         text-align: center;
      }

      @include media(sm) {
         font-size: 35px;
      }

      @include media(xs) {
         font-size: 30px;
      }
   }

   &__top {
      padding: 40px 0 75px;
      display: flex;
      justify-content: flex-end;

      @include media(lg) {
         padding: 40px 0 30px;
      }

      @include media(md) {
         justify-content: center;
      }
   }

   &__top-inner {
      min-width: 0;
      max-width: 757px;
      position: relative;
      margin-right: 10px;

      @include media(md) {
         margin-right: 0;
      }

      &::after {
         content: "";
         position: absolute;
         width: 58px;
         height: 40px;
         top: 8px;
         left: -107px;
         background: url("./../img/slider-pseudo“.svg") no-repeat;
         background-size: 100%;

         @include media(md) {
            top: -36px;
            left: 0;
            width: 39px;
            height: 27px;
         }
      }
   }

   &__slider {
      position: relative;

      .slider__item {
         padding: 0px 2px;
      }

      .slider__item-text {
         @include text(32px, "SFUIDisplayLight", 160%, $primaryTextColor);
         letter-spacing: 0.4px;
         max-width: 757px;
         margin-bottom: 59px;

         @include media(sm) {
            margin-bottom: 30px;
         }

         @include media(lg) {
            font-size: calc(16px + 16 * (100vw / 1440));
         }
      }

      .slider__item-author {
         display: inline-block;
         @include text(16px, "SFUIDisplayRegular", 160%, $primaryTextColor);
         letter-spacing: 1px;
      }

      .slick-track {
         display: flex;
      }

      .slick-list {
         overflow: hidden;
      }

      .slick-arrow {
         position: absolute;
         bottom: -13px;
         font-size: 0;
         width: 48px;
         height: 48px;
         border: none;
         cursor: pointer;
         z-index: 2;

         @include media(xs) {
            bottom: -62px;
         }
      }

      .slick-arrow.slick-prev {
         right: 46px;

         &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 48px;
            height: 48px;
            background-color: #F2F2F2;
            z-index: 3;
            opacity: 0;
            transition: opacity 0.2s ease 0.1s;
         }

         &:hover::after {
            opacity: 1;
         }

         &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 48px;
            height: 48px;
            background: url('./../img/slider-arrow-prev.svg') 0 0 no-repeat;
            z-index: 4;
         }

         @include media(md) {
            right: 56px;
         }
      }

      .slick-arrow.slick-next {
         right: -10px;

         &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 48px;
            height: 48px;
            background-color: #F2F2F2;
            z-index: 3;
            opacity: 0;
            transition: opacity 0.2s ease 0.1s;
         }

         &:hover::after {
            opacity: 1;
         }

         &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 48px;
            height: 48px;
            background: url('./../img/slider-arrow-next.svg') 0 0 no-repeat;
            z-index: 4;
         }

         @include media(md) {
            right: -0px;
         }
      }
   }

   &__bottom {
      padding-top: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include media(md) {
         padding-top: 40px;
         flex-direction: column;
         align-items: center;
      }
   }

   &__img-wrap {
      position: relative;
      left: -48px;
      margin-right: 30px;

      @include media(lg) {
         left: 0;
      }

      @include media(md) {
         margin: 0 0 40px 0;
      }

      @include media(md) {
         margin: 0 0 20px 0;
      }
   }

   &__img {
      width: 100%;
      max-width: 100%;
      object-fit: cover;
   }

   &__slogan-block {
      padding-top: 30px;
      position: relative;
      z-index: 1;

      @include media(md) {
         display: flex;
         flex-direction: column;
         align-items: center;
         padding: 0;
      }
   }

   &__slogan {
      @include text(48px, "NewYorkExtraLargeBold", 124%, $primaryTextColor);
      letter-spacing: -2px;
      font-weight: 600;
      max-width: 523px;
      margin-bottom: 64px;

      @include media(lg) {
         font-size: calc(24px + 24 * (100vw / 1440));
         max-width: 470px;
      }

      @include media(md) {
         margin-bottom: 30px;
         text-align: center;
      }
   }

   &__slogan--color {
      color: $accentColor;
   }
}