.reviews {
   margin-bottom: 64px;

   &__container {
      padding-top: 55px;
      max-width: 1440px;
      background: linear-gradient(#F9F9F9, #FFFFFF);
      position: relative;
      margin: 0 auto;
      min-height: 1400px;

      &::after {
         content: "";
         position: absolute;
         bottom: 70px;
         left: 130px;
         width: 497px;
         height: 684px;
         background: url("./../img/reviews-img.png") no-repeat;
      }
   }

   // @include media(md) {
   //    margin-bottom: 70px;
   // }

   &__title {
      max-width: 370px;
      margin-bottom: 40px;

      @include media(md) {
         font-size: 40px;
         margin: 0 auto 40px;
      }

      @include media(sm) {
         font-size: 35px;
         margin-bottom: 30px;
      }

      @include media(xs) {
         font-size: 30px;
         margin-bottom: 20px;
      }
   }
}