.reviews {
   padding-top: 55px;
   background: linear-gradient(#F9F9F9, #FFFFFF);
   // min-height: 1400px;
   margin-bottom: 64px;

   .container {
      position: relative;
      // min-height: 1400px;

      &::after {
         content: "";
         position: absolute;
         bottom: 61px;
         left: 8px;
         width: 497px;
         height: 684px;
         background: url("./../img/reviews-img.png") no-repeat;
         // z-index: 0;
      }
   }

   // @include media(md) {
   //    margin-bottom: 70px;
   // }

   &__title {
      max-width: 370px;

      @include media(md) {
         font-size: 40px;
         margin: 0 auto 40px;
      }

      @include media(sm) {
         font-size: 35px;
         margin-bottom: 30px;
      }

      @include media(xs) {
         font-size: 30px;
         margin-bottom: 20px;
      }
   }

   &__top {
      padding: 40px 0 75px;
      display: flex;
      justify-content: flex-end;

   }

   &__top-inner {
      min-width: 0;
      max-width: 757px;
      position: relative;
      margin-right: 10px;

      &::after {
         content: "";
         position: absolute;
         width: 58px;
         height: 40px;
         top: 8px;
         left: -107px;
         background: url("./../img/slider-pseudo“.svg") no-repeat;
      }
   }

   &__slider {
      position: relative;
      padding: 0px;

      .slider__item {
         position: relative;
      }

      .slider__item-text {
         @include text(32px, "SFUIDisplayLight", 160%, $primaryTextColor);
         letter-spacing: 0.4px;
         max-width: 757px;
         margin-bottom: 59px;
      }

      .slider__item-author {
         display: inline-block;
         @include text(16px, "SFUIDisplayRegular", 160%, $primaryTextColor);
         letter-spacing: 1px;
      }

      .slick-track {
         display: flex;
      }

      .slick-list {
         overflow: hidden;
         z-index: 1;
         position: relative;
      }

      .slick-arrow {
         position: absolute;
         bottom: -13px;
         font-size: 0;
         width: 48px;
         height: 48px;
         border: none;
         cursor: pointer;
         z-index: 2;
      }

      .slick-arrow.slick-prev {
         right: 46px;
         background: url('./../img/slider-arrow-prew.svg') no-repeat;
      }

      .slick-arrow.slick-next {
         right: -10px;
         background: url('./../img/slider-arrow-next.svg') no-repeat;
      }
   }

   &__bottom {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 812px;
   }

   &__slogan {
      @include text(48px, "NewYorkExtraLargeBold", 124%, $primaryTextColor);
      letter-spacing: -2px;
      font-weight: 600;
      max-width: 535px;
      margin-bottom: 64px;
   }

   &__slogan--color {
      color: $accentColor;
   }


}