@use "sass:math";

// Подключение миксинов 
@import "abstracts/variables";
@import "abstracts/mixins";

// Подключение шрифтов 
@import "fonts/fonts";

@import "base/null";

body {
   font-family: "SFUIDisplayRegular", sans-serif;
   color: $primaryTextColor;
   line-height: 26px;   
}

// Скролл заблокирован
body._lock {
   overflow: hidden;
   touch-action: none;
}

.container {
   @extend %container;
}

.wrapper {
   margin: 0 auto;
   background-color: $mainBackgroundColor;
   min-height: 100%;
   display: flex;
   flex-direction: column;
   overflow: hidden;

   // Прижимаем footer
   >main {
      flex: 1 1 auto;
   }

   // Фикс для слайдеров
   >* {
      min-width: 0;
   }
}

.btn:active,
button:active {
   transform: translate(1px, 2px);
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомагательных классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import "base";

// Подключение стилей общих элементов проекта
@import "common";

// Подключение стилей отдельных блоков
@import "header";
@import "about";
@import "gallery";
@import "features";
@import "reviews";
@import "partners";
@import "footer";
@import "./libs/magnific-popup";

// Подключение стилей отдельных страниц
@import "home";